<?xml version="1.0"?>
<!--
Copyright (c) 2019, I3D Robotics Ltd.
-->

<robot name="i3dr_titania_ur10" 
    xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:arg name="en_imu" default="false"/>
    <xacro:arg name="camera_name" default="i3dr_titania"/>
    <xacro:arg name="arm_name" default="j2s7s300"/>
    <xacro:arg name="en_mesh" default="true"/>

    <xacro:include filename="$(find i3dr_titania)/urdf/titania.urdf.xacro" />
    <xacro:titania_camera camera_name="$(arg camera_name)" en_mesh="$(arg en_mesh)" en_imu="$(arg en_imu)"/>

    <xacro:include filename="$(find kinova_description)/urdf/$(arg arm_name).xacro" />

    <link name="root" />
    <xacro:j2s7s300 base_parent="root"/>

    <link name="world" />

    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link = "root" />
        <origin xyz="0 0 0.01" rpy="0 0 0" />
    </joint>

    <link name="ground_plane_box">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 1.0 0.5"/> 
            </geometry>
            <material name="Grey">
                <color rgba="0.7 0.7 0.7 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 1.0 0.5"/> 
            </geometry>
        </collision>
    </link>

    <joint name="ground_plane_box" type="fixed">
        <parent link="world" />
        <child link="ground_plane_box" />
        <origin xyz="0 0 -0.25" rpy="0 0 0" />
    </joint>

    <joint name="kinova_titania_joint" type="fixed">
        <origin xyz="0 0 0.09" rpy="-1.57 0 1.57" />
        <parent link="$(arg arm_name)_end_effector" />
        <child link="$(arg camera_name)_base_link" />
    </joint>
</robot>