<?xml version="1.0"?>
<!--XML-->
<launch>
    <!-- SETUP ARGUMENTS -->
    <!-- enable/disable functions -->
    <arg name="rviz" default="false" />
    <arg name="sim" default="true"/>
    <arg name="moveit" default="true"/>
    <arg name="glue" default="false"/>
    <arg name="octomap" default="false"/>

    <arg name="imu" default="false"/>
    <arg name="camera_mesh" default="true"/>
    <arg name="camera_name" default="i3dr_titania"/>
    <arg name="kinova_robotType" default="j2s7s300"/>
    <arg name="kinova_robotName" default="$(arg kinova_robotType)"/>
    <arg name="use_trajectory_controller" default="true"/>
    <arg name="is7dof" default="false"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find i3dr_ur10)/worlds/room.world"/>
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
    </include>

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find i3dr_ur10)/urdf/i3dr_titania_kinova.urdf.xacro' en_imu:=$(arg imu) camera_name:=$(arg camera_name) en_mesh:=$(arg camera_mesh) arm_name:=$(arg kinova_robotType)"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <!-- For the 6DOF -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" unless="$(arg is7dof)"
        args="-urdf -model $(arg kinova_robotName) -param robot_description
            -J $(arg kinova_robotType)_joint_1 0.0
            -J $(arg kinova_robotType)_joint_2 2.9
            -J $(arg kinova_robotType)_joint_3 1.3
            -J $(arg kinova_robotType)_joint_4 -2.07
            -J $(arg kinova_robotType)_joint_5 1.4
            -J $(arg kinova_robotType)_joint_6 0.0
            -J $(arg kinova_robotType)_joint_finger_1 1.0
            -J $(arg kinova_robotType)_joint_finger_2 1.0
            -J $(arg kinova_robotType)_joint_finger_3 1.0" />

    <!-- For the 7DOF -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" if="$(arg is7dof)"
    args="-urdf -model $(arg kinova_robotName) -param robot_description
        -J $(arg kinova_robotType)_joint_1 0.0
        -J $(arg kinova_robotType)_joint_2 2.9
        -J $(arg kinova_robotType)_joint_3 0.0
        -J $(arg kinova_robotType)_joint_4 1.3
        -J $(arg kinova_robotType)_joint_5 -2.07
        -J $(arg kinova_robotType)_joint_6 1.4
        -J $(arg kinova_robotType)_joint_7 0.0
        -J $(arg kinova_robotType)_joint_finger_1 1.0
        -J $(arg kinova_robotType)_joint_finger_2 1.0
        -J $(arg kinova_robotType)_joint_finger_3 1.0" />

    <!-- ros_control launch file -->
    <include file="$(find kinova_control)/launch/kinova_control.launch">
        <arg name="kinova_robotName" value="$(arg kinova_robotName)"/>
        <arg name="kinova_robotType" value="$(arg kinova_robotType)"/>
        <arg name="use_trajectory_controller" value="$(arg use_trajectory_controller)"/>
        <arg name="is7dof" value="$(arg is7dof)"/>
    </include>

    <!-- Camera control launcher -->
    <include file="$(find i3dr_titania)/launch/titania.launch">
        <arg name="sim" value="false"/> <!-- simulated camera urdf is loaded from this launcher -->
        <arg name="real" value="$(eval sim == 0)"/> <!-- launch real camera when sim=false -->
        <arg name="camera_mesh" value="true"/> <!-- display detailed mesh of camera -->
        <arg name="state_publisher" value="false"/> <!-- state publisher is handelled by this launcher instead-->
        <arg name="depth_max" value="10"/>
        <arg name="stereo_algorithm" value="2"/>
    </include>

    <group if="$(arg glue)">
        <node name="pcl_point_tf" pkg="i3dr_pcl_tools" type="transform_pcl_frame" output="screen" >
            <param name="tf" type="string" value="world" />
            <param name="pcl2_input" type="string" value="/$(arg camera_name)/points2" />
            <param name="pcl2_output" type="string" value="/$(arg camera_name)/world_points2" />
            <param name="pcl_output" type="string" value="/$(arg camera_name)/world_points" />
        </node>
        <node name="pcl_map" pkg="i3dr_pcl_tools" type="pcl_map" output="screen" >
            <param name="resolution" type="double" value="0.01" />
            <param name="pcl2_input" type="string" value="/$(arg camera_name)/world_points2" />
        <param name="pcl2_output" type="string" value="/$(arg camera_name)/map_points2" />
        <param name="pcl_output" type="string" value="/$(arg camera_name)/map_points" />
        </node>
    </group>

    <group if="$(arg octomap)">
        <node name="pcl_point_tf" pkg="i3dr_pcl_tools" type="transform_pcl_frame" output="screen" >
            <param name="tf" type="string" value="world" />
            <param name="pcl2_input" type="string" value="/$(arg camera_name)/points2" />
            <param name="pcl2_output" type="string" value="/$(arg camera_name)/world_points2" />
            <param name="pcl_output" type="string" value="/$(arg camera_name)/world_points" />
        </node>
        <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
            <param name="resolution" value="0.01" />

            <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
            <param name="frame_id" type="string" value="/world" />

            <!-- maximum range to integrate (speedup!) -->
            <param name="sensor_model/max_range" value="5" />

            <!-- data source to integrate (PointCloud2) -->
            <remap from="cloud_in" to="/$(arg camera_name)/world_points2" />
        </node>
    </group>

    <group if="$(arg moveit)">
        <include file="$(find j2s7s300_moveit_config)/launch/move_group_$(arg kinova_robotType).launch">
            <arg name="allow_trajectory_execution" value="true"/>
            <arg name="fake_execution" value="false"/>
            <arg name="info" value="true"/>
            <arg name="debug" value="false"/>
            <arg name="joint_states_ns" value="/$(arg kinova_robotType)/joint_states"/>
            <arg name="controller_manager" value="$(arg kinova_robotType)_ros_control"/>
        </include>

        <!-- ros-control Controller parameters-->  
        <rosparam file="$(find j2s7s300_moveit_config)/config/controllers_ros_control.yaml"/>

        <!-- Run Rviz and load the default config to see the state of the move_group node -->
        <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
            args="-d $(find i3dr_ur10)/rviz/kinova_titania.rviz" output="screen">
            <rosparam command="load" file="$(find j2s7s300_moveit_config)/config/kinematics.yaml"/>
        </node>
    </group>

</launch>