<launch>
    <arg name="camera_name" default="phobos_nuclear"/>
    <arg name="folder_name" default="/media/i3dr/Seagate Backup Plus Drive/SBRI_room_scans/wood_scan/bags"/>

    <arg name="record" default="false"/>
    
    <group if="$(arg record)">
        <node pkg="rosbag" type="record" name="rosbag_record_SBRI_scan" 
            args="record -o '$(arg folder_name)/i3dr_ROS_room_scan' /tf /tf_static /joint_states /$(arg camera_name)/left/image_raw /$(arg camera_name)/left/camera_info /$(arg camera_name)/right/image_raw /$(arg camera_name)/right/camera_info"/>
    </group>
    <group unless="$(arg record)">
        <arg name="bag_name" default="i3dr_ROS_room_scan_2019-07-04-14-24-33[Light_on-Laser_off(Failed at end)]"/>
        <arg name="rviz" default="true"/>

        <param name="use_sim_time" value="true"/>
        
        <!-- SETUP ROBOT MODEL -->
        <param name="$(arg camera_name)_robot_description" command="$(find xacro)/xacro '$(find i3dr_phobos_nuclear)/urdf/phobos_nuclear_scene.urdf.xacro'" />
        <arg name="use_tf_static" default="false"/>
        <node name="robot_state_publisher_phobos_nuclear" pkg="robot_state_publisher" type="state_publisher">
            <remap from="robot_description" to="$(arg camera_name)_robot_description"/>
            <param name="use_tf_static" value="$(arg use_tf_static)"/>
        </node>

        <arg name="window_size" value="3"/>

        <!-- STEREO MATCHER -->
        <include file="$(find i3dr_stereo_camera)/launch/stereo_matcher.launch">
            <arg name="use_i3dr_matcher" value="true"/>

            <!-- enable/disable gui for stereo matching parameters -->
            <!-- BM Settings -->
            <arg name="camera_namespace" value="$(arg camera_name)"/>
            <arg name="gui" value="false"/>
            <arg name="stereo_algorithm" value="0" />
            <arg name="min_disparity" value="0" />
            <arg name="disparity_range" value="416" />
            <arg name="correlation_window_size" value="25" />
            <arg name="uniqueness_ratio" value="6" />
            <arg name="speckle_range" value="4" />
            <arg name="speckle_size" value="1000" />

            <!-- SGBM Settings -->
            <!--<arg name="camera_namespace" value="$(arg camera_name)"/>
            <arg name="gui" value="false"/>
            <arg name="stereo_algorithm" value="1" />
            <arg name="min_disparity" value="159" />
            <arg name="disparity_range" value="416" />
            <arg name="correlation_window_size" value="19" />
            <arg name="uniqueness_ratio" value="20" />
            <arg name="texture_threshold" value="100" />
            <arg name="speckle_range" value="4" />
            <arg name="speckle_size" value="1000" />
            <arg name="p1" value="$(eval 8 * 3 * arg('window_size') ** 2)"/>
            <arg name="p2" value="$(eval 32 * 3 * arg('window_size') ** 2)"/>
            <arg name="interp" value="false"/>
            -->
            
            <!-- JRSGM Settings -->
            <!--
            <arg name="camera_namespace" value="$(arg camera_name)"/>
            <arg name="gui" value="false"/>
            <arg name="stereo_algorithm" value="2" />
            <arg name="min_disparity" value="-25" />
            <arg name="disparity_range" value="17" />
            <arg name="correlation_window_size" value="3" />
            <arg name="uniqueness_ratio" value="10" />
            <arg name="texture_threshold" value="10" />
            <arg name="speckle_range" value="4" />
            <arg name="speckle_size" value="1000" />
            <arg name="p1" value="1.19"/>
            <arg name="p2" value="1.21"/>
            <arg name="interp" value="false"/>
            -->
        </include>

        <!-- DISPLAY -->
        <!-- run rviz with config file -->
        <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rivz" 
            args="-d $(find i3dr_ur10)/rviz/ur10_phobos_nuclear.rviz"/>

        <!-- ROS BAG -->
        <node pkg="rosbag" type="play" name="rosbag_play_SBRI_scan" 
            args="--clock -r 1 '$(arg folder_name)/$(arg bag_name).bag'"/>

        <!-- RTABMAP -->
        <arg name="localization" default="false"/>
        <include file="$(find i3dr_rtabmap)/launch/stereo_localisation.launch">
            <arg name="localization" value="$(arg localization)"/>
            <arg name="camera_namespace" value="$(arg camera_name)"/>
            <arg name="depth_odom" value="true"/>
            <!--<arg name="scan3d_odom" value="true"/>-->
            <!--<arg name="depth_icp_odom" value="true"/>-->
            <arg name="disparity2Depth" default="true"/>
            <arg name="rgb_topic" value="/$(arg camera_name)/left/image_rect_color"/>
            <arg name="camera_info_topic" value="/$(arg camera_name)/left/camera_info"/>
            <arg name="depth_camera_info_topic" value="/$(arg camera_name)/left/camera_info"/>
            <arg name="cloud_topic" value="/$(arg camera_name)/i3dr_points2"/>
            <arg name="base_link_frame" value="$(arg camera_name)_base_link"/>
            <!-- should be set to true if using SGBM or Phobos/Phobos_nuclear as these takes longer to process -->
            <arg name="slow_processing" default="true"/>
        </include>
        
    </group>

</launch>