<launch>
    <arg name="camera_name" default="phobos_nuclear"/>
    <arg name="folder_name" default="/media/i3dr/Seagate Backup Plus Drive/SBRI_room_scans/wood_scan/bags"/>
    
        <arg name="bag_name" default="i3dr_ROS_room_map_complete_2019-07-24-09-50-55"/>
        <arg name="rviz" default="true"/>

        <param name="use_sim_time" value="true"/>

        <!-- DISPLAY -->
        <!-- run rviz with config file -->
        <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rivz" 
            args="-d $(find i3dr_ur10)/rviz/ur10_phobos_nuclear.rviz"/>

        <!-- ROS BAG -->
        <node pkg="rosbag" type="play" name="rosbag_play_SBRI_scan" 
            args="--clock -r 1 '$(arg folder_name)/$(arg bag_name).bag'"/>

</launch>