<?xml version="1.0"?>
<!--XML-->
<launch>
    <!-- UR10 control launcher -->
    <arg name="robot_ip" default="10.42.0.238"/>
    <arg name="sim" default="false"/>
    <arg name="rviz" default="false"/>
    <arg name="moveit" default="false"/>
    <arg name="new_gazebo_world" default="true"/>

    <include if="$(arg sim)" file="$(find i3dr_ur10)/launch/ur10_sim.launch">
        <arg name="limited" value="true"/>
        <arg name="new_gazebo_world" value="$(arg new_gazebo_world)"/>
    </include>
    <include unless="$(arg sim)" file="$(find ur_bringup)/launch/ur10_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>

    <group if="$(arg moveit)">
        <include file="$(find ur10_moveit_config)/launch/ur10_moveit_planning_execution.launch">
            <arg name="limited" value="true"/>
            <arg name="sim" value="$(arg sim)"/>
        </include>

        <node if="$(arg rviz)" name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
            args="-d $(find ur10_moveit_config)/launch/moveit.rviz" output="screen">
            <rosparam command="load" file="$(find ur10_moveit_config)/config/kinematics.yaml"/>
        </node>
    </group>

    <group unless="$(arg moveit)">
        <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rivz" 
            args="-d $(find i3dr_ur10)/rviz/ur10.rviz"/>
    </group>

</launch>