<?xml version="1.0"?>

<launch>
    <arg name="rviz" default="false" />
    <arg name="gui" default="true"/>
    <arg name="camera_namespace" default="phobos_nuclear"/>
    <arg name="camera_model" default="$(arg camera_namespace)"/>
    <arg name="split_laser" default="false"/>
    <arg name="ur_en" default="true" doc="connect to a run the ur10. Disable if this is running in another node" />

    <arg name="robot_ip" default="192.168.1.164"/>
    
    <include if="$(arg ur_en)" file="$(find ur_modern_driver)/launch/ur10_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>

    <!--<arg name="cam_robot_tf" default="0 0 0 0 0 1 0"/>
    <node name="camera_robot_publisher" pkg="tf" type="static_transform_publisher" args="$(arg cam_robot_tf) tool0 $(arg camera_model)_base_link 100" />
    -->
   <node name="i3dr_ur10_automap" pkg="i3dr_ur10" type="i3dr_ur10_automap.py" output="screen">
        <param name="rtabmap_en" type="bool" value="true"/>
        <param name="ur10_move_time" type="int" value="3"/>
        <param name="ur10_pose_pause" type="int" value="20"/>
        <param name="rtabmap_namespace" type="string" value="rtabmap"/>
        <param name="auto_send_map" type="bool" value="true"/>

        <remap if="$(arg split_laser)" from="left/image_rect" to="$(arg camera_namespace)/left/image_rect_no_laser"/>
        <remap unless="$(arg split_laser)" from="left/image_rect" to="$(arg camera_namespace)/left/image_rect"/>
        <remap from="depth" to="$(arg camera_namespace)/depth"/>
        <remap from="left/camera_info" to="$(arg camera_namespace)/left/camera_info"/>
        <remap from="left/depth_camera_info" to="$(arg camera_namespace)/left/camera_info"/>
        <remap from="i3dr_scan_map" to="$(arg camera_namespace)/i3dr_scan_map"/>
        <remap from="i3dr_scan_status" to="$(arg camera_namespace)/i3dr_scan_status"/>
    </node>

    <node if="$(arg gui)" name="i3dr_ur10_scan_gui" pkg="i3dr_ur10" type="i3dr_ur10_scan_gui.py" output="screen">
        <remap from="left/image_raw" to="$(arg camera_namespace)/left/image_raw"/>
        <remap from="right/image_raw" to="$(arg camera_namespace)/right/image_raw"/>
        <remap from="disparity" to="$(arg camera_namespace)/disparity"/>
    </node>
 
    <!-- DISPLAY -->
    <!-- run rviz with config file -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rivz)" 
        args="-d $(find i3dr_ur10)/rviz/ur10_sbri.rviz">
    </node>
</launch>